body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

 /* CSS styles for the header */
 header {
    background-color: #e38787;
    color: hsl(0, 64%, 96%);
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #2e2d2d;
    border-radius: 5px;
    font-size: 16px;
}
.btn {
    padding: 10px 25px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.btn-success:hover {
    background-color: #99a9f3;
}
.btn-warning:hover {
    background-color: #e6aded;
    color: white;
}
.btn-danger:hover {
    background-color: #fa0000;
}